{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ article.content|striptags|truncate(200)|escape }}{% endblock description %}
{% block keywords %}{% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block headerstyle %}
    {% if article.illustration %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url('{{ SITEURL }}/images/{{ article.illustration }}') no-repeat; background-position: center; background-size: cover; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <!-- Header -->
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title">{{ article.title }}</h1>
                      <p class="header-date">{{ article.locale_date }}{% if article.modified %}, {{ NEST_ARTICLE_HEADER_MODIFIED }} {{ article.locale_modified }}{% endif %}</p>
                      <div class="header-underline"></div>
                      <div class="clearfix"></div>
                  </div>
              </div>
        </div>
    </div>
    <!-- /Header -->
{% endblock header %}

{% block content %}
    <div class="container content">

        <!-- ARTICLE -->
        
        {{ article.content }}
        
        <!-- NAVIGATION -->

        {% if article.prev_article %}
            <a class="navigate pull-left left" href="{{ SITEURL }}/{{ article.prev_article.url}}"><span class="direction"><i class="fa fa-caret-left"></i> {{ NEST_PAGINATION_PREVIOUS }} </span><span class="title">{{ article.prev_article.title }}</span></a>
          {% endif %}
          {% if article.next_article %}
            <a class="navigate pull-right right" href="{{ SITEURL }}/{{ article.next_article.url}}"><span class="title">{{ article.next_article.title }}</span> <span class="direction">{{ NEST_PAGINATION_NEXT }} <i class="fa fa-caret-right"></i></span></a>
          {% endif %}

        <!-- FACEBOOK COMMENTS -->

        {% include "facebook_comments.html" %}

        <!-- SOUNDCLOUD ANALYTICS -->

        {% if article.category|string() == 'episode' %}
            {% include "soundcloud_analytics.html" %}
        {% endif %}

    </div>
{% endblock %}
