{% extends "base.html" %}

{% block description %}{{ page.content|striptags|truncate(200)|escape }}{% endblock description %}

{% block headerstyle %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}') no-repeat; background-position: center; background-size: cover;">
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="container content">
        {{ page.content }}
    </div>
{% endblock %}

